* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #44ff11;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacao {
    background-color: #77eedd;
}

.secao {
    background-color: #ffee12;
}

.rodape {
    background-color: #123eee;
}